{% extends "citizens/base.html" %}
{% load static %}

{% block content %}
    <div class="position-relative overflow-hidden">
        <div class="container p-4 d-flex justify-content-center">
            <div class="card" style="width: 25rem;">
                <img src="{% static "citizens/qr-code.png" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ citizen.first_name }} {{ citizen.last_name }}</h5>
                    <div class="card-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <i class="pull-right fa fa-envelope"></i>
                                </div>
                                <div class="col-10">
                                    <span>{{ citizen.email }}</span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-2">
                                    <i class="pull-right fa fa-birthday-cake mr-2"></i>
                                </div>
                                <div class="col-10">
                                    <span>{{ citizen.date_of_birth }}</span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-2">
                                    <i class="pull-right fa fa-map mr-2"></i>
                                </div>
                                <div class="col-10">
                                    {{ citizen.address }} <br> {{ citizen.zip_code }} {{ citizen.city }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

{% endblock %}