{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Wir vs Virus</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "core/bootstrap-4.0.0/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "core/css/main.css" %}" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<nav class="py-1 bg-light navbar-light">
    <div class="container d-flex flex-column flex-md-row">
        <div class="text-left col-md-1 py-2">
            <a class="" href="{% url "home" %}">
                <img width="24" height="24" src="{% static "core/virus.svg" %}">
            </a>
        </div>

        <div class="text-right col-md-11 py-2">
            {% block header %}
                <a class="d-inline-block mr-3" href="{% url "home" %}">Startseite</a>
                <a class="d-inline-block mr-3" href="{% url "citizen-create" %}">Für Test anmelden</a>
                <a class="d-inline-block" href="{% url "about-us" %}">Über uns</a>
            {% endblock %}
        </div>
    </div>
</nav>

<div class="container">
    {% include 'core/partials/_messages.html' %}
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="py-5 bg-light" style="width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <small class="d-block mb-3 text-muted"><img width="24" height="24" src="{% static "core/virus.svg" %}">
                    &copy; 2020
                </small>
            </div>
            <div class="col-8 text-right">

                <div class="text-muted">Jonas Dippel <a href="#">j.dippel@campus.tu-berlin.de</a>
                    <br/> Michael Perk <a href="#">m.perk@tu-bs.de</a>
                </div>

                <div class="text-muted small">
                    <a class="text-muted" href="https://www.freepik.com/free-photos-vectors/people">Vectors created by
                        freepik -
                        www.freepik.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "core/jquery/js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "core/bootstrap-4.0.0/js/bootstrap.js" %}"></script>

{% block script %}
{% endblock %}

</body>
</html>