{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- favicons -->
    <link rel="shortcut icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">


    <title>MorbusClade</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "core/bootstrap-4.0.0/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "core/css/main.css" %}" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<nav class="py-1 bg-light navbar-light">
    <div class="container">
        <div class="row">
            <div class="text-left col-1 py-0 my-0">
                <a class="" href="{% url "home" %}">
                    <img class="d-inline-block" width="64" height="64" src="{% static "core/img/virus.png" %}"/>
                </a>
            </div>

            <div class="col-1 py-3">
                <h3 class="upper py-0">MorbusClade</h3>
            </div>

            <div class="text-right col-10 py-3 mt-2">
                {% block header %}
                    <a class="d-inline-block mr-3" href="{% url "home" %}">Startseite</a>
                    <a class="d-inline-block mr-3" href="{% url "citizen-create" %}">Für Test anmelden</a>
                    <a class="d-inline-block mr-3" href="{% url "about-us" %}">Über uns</a>
                    <a class="d-inline-block" href="{% url "description" %}">Hilfe</a>
                {% endblock %}
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% include 'core/partials/_messages.html' %}
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="py-5 bg-light" style="width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <small class="d-block mb-3 text-muted">
                    <img class="d-inline-block mr-2" width="32" height="32" src="{% static "core/img/virus.png" %}"/>
                    MorbusClase
                </small>

                <a href="{% url "health-home" %}">Zur Übersicht vom Gesundheitsamt</a>
            </div>
            <div class="col-8 text-right">

                <div class="text-muted">Jonas Dippel<a class="ml-2" href="#">j.dippel@campus.tu-berlin.de</a>
                    <br/> Michael Perk <a class="ml-2" href="#">m.perk@tu-bs.de</a>
                </div>

                <div class="small text-muted">

                    <div>
                        Vectors created by freepik - <a class=""
                                                        href="https://www.freepik.com/free-photos-vectors/people">www.freepik.com</a>
                    </div>
                    <div>
                        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                        and <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
                        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "core/jquery/js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "core/bootstrap-4.0.0/js/bootstrap.js" %}"></script>

{% block script %}
{% endblock %}

</body>
</html>