{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Wir vs Virus</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "core/bootstrap-4.0.0/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "core/css/main.css" %}" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

<nav class="site-header py-1 bg-light">
    <div class="container d-flex flex-column flex-md-row">
        <div class="text-left col-md-1 py-2">
            <a class="" href="{% url "home" %}">
                <img width="24" height="24" src="{% static "core/virus.svg" %}">
            </a>
        </div>

        <div class="text-right col-md-11 py-2">
            {% block header %}
                <a class="d-inline-block mr-3" href="{% url "home" %}">Startseite</a>
                <a class="d-inline-block mr-3" href="{% url "citizen-create" %}">Für Test anmelden</a>
                <a class="d-inline-block" href="{% url "about-us" %}">Über uns</a>
            {% endblock %}
        </div>
    </div>
</nav>

<div class="container">
    {% include 'core/partials/_messages.html' %}
</div>

{% block content %}
{% endblock %}

<footer class="py-5 bg-light" style="width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img width="24" height="24" src="{% static "core/virus.svg" %}">
                <small class="d-block mb-3 text-muted">&copy; 2020</small>
                <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by freepik - www.freepik.com</a>
                <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by freepik - www.freepik.com</a>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "core/jquery/js/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "core/bootstrap-4.0.0/js/bootstrap.js" %}"></script>

{% block script %}
{% endblock %}

</body>
</html>