{% extends "core/base.html" %}

{% load static %}
{% block content %}

    <div class="bg-light">
        <div class="container py-5 px-5">
            <h1 class="display-4 font-weight-normal">Hilfe zur Demo</h1>
            <p class="lead font-weight-normal">
                Die Website ist aktuell noch eine Demo, die aber die einfache Realisierbarkeit des Konzeptes in der
                Realität veranschaulichen soll.
                Auf dieser Seite wirst du einmal durch die Demo geführt.
                Die Seite wird von zwei Parteien genutzt: Einem Bürger der einen SARS-CoV-2 Test machen möchte
                und dem Gesundheitsamt, dass die Gesamtheit der Tests überblicken möchte.
            </p>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Testperson</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Gesundheitsamt</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


            <div class="bg-white py-5">
                <div class="container py-5">
                    <div class="row align-items-center mb-5">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <h2 class="font-weight-light">1. Testanmeldung</h2>
                            <p class="font-italic text-muted mb-4">Begib dich zunächst auf die
                                Testanmeldungs-Seite.</p>

                        </div>
                        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                            <img src="{% static "core/img/register-btn.png" %}" alt="" class="img-fluid mb-4 mb-lg-0">
                        </div>
                    </div>


                    <div class="row align-items-center">
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/register-form.png" %}" alt="" class="img-fluid mb-4 mb-lg-0">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="font-weight-light">2. Formular ausfüllen</h2>
                            <p class="font-italic text-muted mb-4">Fülle nun das unten stehende Formular. Damit wirst du für einen bevorstehenden Test registriert. Bitte beachte, dass momentan noch keine E-Mails versendet werden. Deshalb wirst du direkt zum QR-Code weitergeleitet.

                            </p>
                        </div>
                    </div>

                    <div class="row align-items-center">

                        <div class="col-lg-6">
                            <h2 class="font-weight-light">3. Testsimulation</h2>
                            <p class="font-italic text-muted mb-4">Auf der folgenden Seite befinden sich deine persönlichen Informationen und ein QR-Code. Nun würdest du zur nächstgelegenen Teststation fahren und dort den QR-Code vorzeigen. Das medizinische Personal würde deinen Code scannen und mit der abegegebenen Probe verknüpfen. Um diesen Vorgang in der Demo zu simulieren, drücke einfach den Button im Header der Seite.
                            </p>
                        </div>
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/test-simulation.png" %}" alt=""
                                 class="img-fluid mb-4 mb-lg-0 p-5">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/test-wait.png" %}" alt="" class="img-fluid mb-4 mb-lg-0">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="font-weight-light">4. Warten auf das Ergebnis</h2>
                            <p class="font-italic text-muted mb-4">Nach dem Abgeben der Probe an der Teststation muss man normalerweise auf das Ergebnis warten. Auf der Website kann man sehen an welcher Teststation die Probe abgegeben wurde und welches Testlabor die Probe auswertet. Sobald das Testlabor die Probe getestet hat, trägt sie das Ergebnis ein und der Bürger bekommt eine Mail mit dem Link zu seinem Testergebnis. Die Analyse der Probe kann in der Demo mit einem Klick auf das jeweilige Testergebnis simuliert werden.</p>
                        </div>
                    </div>

                    <div class="row align-items-center">

                        <div class="col-lg-6">
                            <h2 class="font-weight-light">5. Kontaktpersonen hinzufügen</h2>
                            <p class="font-italic text-muted mb-4">
                                Wenn das Testergebnis positiv war, soll der Bürger seine Kontaktpersonen in ein Formular eintragen. Durch Aufrufen des Links aus der E-Mail öffnet sich eine Seite auf der Kontaktpersonen hinzugefügt werden können. Da wir noch keine E-Mails versenden, wird diese Seite in der Demo automatisch geöffnet, nachdem man das Testergebnis als "positiv" markiert hat.
                            </p>
                        </div>
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/add-contacts.png" %}" alt=""
                                 class="img-fluid mb-4 mb-lg-0 p-5">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/add-contact-form.png" %}" alt=""
                                 class="img-fluid mb-4 mb-lg-0">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="font-weight-light">6. Daten der Kontaktperson angeben</h2>
                            <p class="font-italic text-muted mb-4">
                                Beim Hinzufügen der Kontaktperson werden die Kontaktdaten der jeweiligen Person angegeben. Weiterhin soll die Intensität des Kontaktes und eine kleine Beschreibung hinzugefügt werden, die die Art des Kontaktes beschreibt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <div class="bg-white py-5">
                <div class="container py-5">
                    <div class="row align-items-center mb-5">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <h2 class="font-weight-light">1. Login</h2>
                            <p class="font-italic text-muted mb-4">
                                Um auf die Verwaltungsseite eines Gesundheitsamtes zuzugreifen, muss man sich zunächst
                                anmelden. Der Link zum Login befindet sich im Footer jeder Seite. Man kann sich mit dem
                                Demo-Account "gesundheitsamt-braunschweig" und dem Passwort "test" einloggen.
                            </p>

                        </div>
                        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                            <img src="{% static "core/img/login.png" %}" alt="" class="img-fluid mb-4 mb-lg-0">
                        </div>
                    </div>


                    <div class="row align-items-center">
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/health-overview.png" %}" alt=""
                                 class="img-fluid mb-4 mb-lg-0">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="font-weight-light">2. Übersicht</h2>
                            <p class="font-italic text-muted mb-4">Nach dem Login gibt es für das Gesundheitsamt eine
                                Übersicht über alle getesteten Personen.
                                Diese Liste kann nach bestimmten Kriterien gefiltert werden. In Zukunft wird es auch
                                noch möglich sein aggregierte Statistiken über
                                die einzelnen Testpersonen einzusehen. Durch Klicken auf eine Testperson gelangt man zur
                                Detailansicht.
                            </p>
                        </div>
                    </div>

                    <div class="row align-items-center">

                        <div class="col-lg-6">
                            <h2 class="font-weight-light">3. Detailansicht</h2>
                            <p class="font-italic text-muted mb-4">
                                In der Detailansicht können die Kontaktdaten und Testergebnisse
                                zu einer Person sowie dessen Kontaktpersonen eingesehen werden.
                            </p>
                        </div>
                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/health-detail.png" %}" alt=""
                                 class="img-fluid mb-4 mb-lg-0 p-5">
                        </div>
                    </div>

                    <div class="row align-items-center">


                        <div class="col-lg-5 px-5 mx-auto">
                            <img src="{% static "core/img/health-evaluation.png" %}" alt=""
                                 class="img-fluid mb-4 mb-lg-0 p-5">
                        </div>

                        <div class="col-lg-6">
                            <h2 class="font-weight-light">4. Auswertungen</h2>
                            <p class="font-italic text-muted mb-4">
                                In der Auswertungsübersicht können einige Diagramme über die
                                vorhandenen Daten eingesehen werden. Die vorhandenen Diagramme stehen exemplarisch
                                für alle möglichen Arten von Auswertungen.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}