body {
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    position: relative;
}


/*
 * Custom translucent site header
 */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#content {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 200px;
}

